<div class="ui bottom attached tab segment active" >
    <h3>Personalisation</h3>
    <div class="required field">
        <form action="">
            <select class=" ui dropdown" id="" name="">
                <option value="A">A emplacement coeur</option>
                <option value="B">B emplacement contre coeur</option>
                <option value="C">C emplacement manche droite</option>
                <option value="D">D emplacement manche gauche</option>
                <option value="F">F emplacement dos</option>
            </select>
            <span></span>
            <input class="ui button" type="file">
            <button class="ui button " type="submit">Personalisez</button>
        </form>
    </div>
</div>
